.avatar {
  border-radius: 9999px;
  width: 100%;

}

.container {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1rem 0;
}

.container span {
  align-self: flex-start;
}

.strong {
  margin-left: 0.5rem;
}

