.article {
  padding: 0 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 1px solid #dbdbdb;
}

.div {
  padding: 1rem;
}

.p {
  margin: 0;
}

.small {
  font-size: 0.8rem;
  color: #777777;
}
