.article {
  padding: 0 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 1px solid #dbdbdb;
  transition: background-color 0.3s ease-in-out;
}

.article:hover {
  background-color: #ebebebb7;
}

.div {
  padding: 1rem;
}

.p {
  margin: 0;
}

.small {
  font-size: 0.8rem;
  color: #777777;
}

.image {
  border-radius: 10px;
  object-fit: cover;
}
