.header{
  border-bottom: 1px solid #ccc;
  height: 49px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.h2 {
  font-weight: bold;
}

.nav {
  bottom: 0;
  border-top: 1px solid #ccc;
  position: fixed;
  height: 49px;
}

.section {
  padding-top: 70px;
}
