/* .container {
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  align-self: center;
  width: 40%;
} */

@media screen and (max-width: 600px) {

  .container {
    width: 100%;
    align-self: unset;
  }
}

.header{
  height: 49px;
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffffaa;
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  border-bottom: 1px solid #eee;

}

.h2 {
  font-weight: bold;
}

.nav {
  background-color: #ffffff;
  bottom: 0;
  border-top: 1px solid #eee;
  position: sticky;
  height: 49px;
}

.section {
  overflow-y: hidden;
  height: 30rem;
}

.divContainer {
  overflow-y: scroll;
  height: calc(30rem - 49px - 49px);
  padding-top: 1rem;
}
